.contacts {
  background: $bisque-color;
  @media (max-width: $desktop-width) {
    background-color: $black-grey-color;
  }
}

.contacts__wrapper {
  @include make-center;
  flex-direction: column;
}

.contacts__title {
  @include section-title($background-color);
  margin-bottom: 50px;
  @media (max-width: $desktop-width) {
    color: $bisque-color;
    border-bottom: 1px solid $bisque-color;
  }
}

.contacts__container {
  display: grid;
  min-height: 500px;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  margin-bottom: 50px;
  box-shadow: 5px 5px 4px 0px $background-color;

  @media (max-width: $desktop-width) {
    position: relative;
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    box-shadow: none;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: $black-grey-color;
  color: #fff;
  @media (max-width: $desktop-width) {
    padding: 0 20px 20px;
  }
}


.contacts__company {
  font-family: $PT-Sans-Caption;
  font-weight: 700;
  font-size: 30px;

  @media (max-width: $desktop-width) {
    margin: 0;
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.contacts__address-text {
  font-family: $PT-Sans-Caption;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;

  @media (max-width: $desktop-width) {
    font-size: 15px;
  }
}

.contacts__telephone {
  font-family: $PT-Sans-Caption;
  font-size: 25px;
  font-weight: 700;
  @media (max-width: $desktop-width) {
    font-size: 20px;
  }
  &:nth-child(4) {
    transform: translateX(2.6em);
  }
}

.contacts__time-title {
  font-family: $PT-Sans-Caption;
  font-size: 25px;
  font-weight: 700;
  color: #ffde88;
  text-transform: uppercase;
  margin-top: 30px;
  @media (max-width: $desktop-width) {
    font-size: 20px;
  }
}

.contacts__time {
  font-family: $PT-Sans-Caption;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;

  @media (max-width: $desktop-width) {
    font-size: 15px;
  }
}

.contacts__map {
  @media (max-width: $desktop-width) {
    height: 400px;
  }
}
