@font-face {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/PT_Sans-Caption-Web-Bold.ttf");
}

@font-face {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/PT_Sans-Caption-Web-Regular.ttf");
}
