.gallery {
  min-height: 100vh;
  background: $background-color;
  z-index: 1;

  @media (max-width: $desktop-width) {
    min-height: 400px;
  }
}
.gallery__wrapper {
  @include make-center;
  flex-direction: column;
  align-items: center;
}

.gallery__title {
  @include section-title($bisque-color);
  justify-self: center;
}

.gallery__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  margin-top: 50px;

  @media (max-width: $desktop-width) {
    justify-content: center;
    box-sizing: border-box;
    min-width: 320px;
    height: 200px;
  }
}

.arrow-svg {
  fill: $bisque-color;

  &:hover {
    fill: $white-pink-color;
  }
}

.gallery__image {
  @include size(1000px,  500px);
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
  @media (max-width: $desktop-width) {
    @include size(250px, 130px);
  }
}
