.modal-window {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  margin-top: -370px;
  margin-left: -250px;
  padding: 20px 50px;
  width: 500px;
  min-height: 500px;
  background-color: $background-color;
  border: 10px solid #363636;
  border-radius: 30px;

  @media (max-width: $desktop-width) {
    margin-top: -132px;
    margin-left: -163px;
    top: 30%;
    left: 50%;
    width: auto;
    padding: 15px 20px;
  }
}

.modal-window__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #363636;
}

.modal-window__title {
  font-family: $PT-Sans-Caption;
  color: $bisque-color;
  font-weight: 700;
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
  @media (max-width: $desktop-width) {
    font-size: 21px;
  }
}

%pseudo-block {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  transform: rotate(45deg);
  @include size(25px, 2px);
  background-color: $bisque-color;
}

.modal-window__btn-close {
  position: relative;
  @include size (30px, 30px);
  border: none;
  background-color: transparent;
  opacity: 0.5;
  transform: translateY(-3px);
  &:hover {
    opacity: 1;
  }
  &::before {
    @extend %pseudo-block;
  }

  &::after {
    @extend %pseudo-block;
    transform: rotate(-45deg);
  }
}

.modal-window__form {
  display: flex;
  flex-direction: column;
}

.modal__window-subtitle {
  font-family: $PT-Sans-Caption;
  color: $bisque-color;
  font-size: 18px;
  font-weight: 400;

  @media (max-width: $desktop-width) {
    font-size: 15px;
  }
}

.modal-window__input {
  border: 1px solid #363636;
  margin: 10px 0;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #d8d7d7;
  border-radius: 10px;
  font-family: $PT-Sans-Caption;
  font-size: 14px;
  @media (max-width: $desktop-width) {
    padding: 5px 10px;
  }

  &:focus {
    outline: 4px solid #488047;
    border: none;
  }

  &--time {
    @extend .modal-window__input;
    margin-left: 10px;
  }

  &--textarea {
    @extend .modal-window__input;
    min-height: 100px;
    resize: vertical;
  }
}

.modal__window__button-submit {
  position: relative;
  top: 0;
  padding: 10px 20px;
  background-color: #488047;
  color: #d8d7d7;
  font-family: $PT-Sans-Caption;
  font-size: 18px;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  transition: background-color 0.5s ease-in 0;
  box-shadow: 0 3px 0 #000;

  &:hover {
    background-color: #365c36;
    transition: background-color 0.3s linear;
  }

  &:active {
    top: 3px;
    box-shadow: none;
  }

  @media (max-width: $desktop-width) {
    padding: 5px 10px;
    font-size: 15px;
  }
}

.error {
  box-shadow: 0 0 15px rgb(255, 40, 40);
}

.error-checkbox {
  outline: 2px solid rgb(255, 40, 40);
  border-radius: 5px;
  padding: 3px;
}

.modal-window__checkbox-wrapper {
  display: flex;
  margin-top: 10px;
}

.modal-window__input--checkbox {
  display: none;
}

.modal-window__input--checkbox:checked + .checkbox-label::after {
  transform: scale(1);
}

.checkbox-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 13px;
  font-family: $PT-Sans-Caption;
  &::before {
    position: relative;
    content: '';
    align-items: flex-start;
    @include size(20px, 20px);
    background-color: #d8d7d7;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  &::after {
    position: absolute;
    transition: transform 0.3s linear;
    content: '';
    border-radius: 5px;
    @include size(16px, 16px);
    background-color: #488047;
    transform: scale(0);
    left: 2px;
    @media (max-width: $desktop-width) {
      left: 1px;
    }
  }

}
