$desktop-width: 1152px;
$mobile-width: 320px;
$PT-Sans-Caption: "PT Sans Caption", sans-serif;
$bisque-color: #feead7;
$background-color: #fbefe5;
$white-chocolate: #867d75;
$white-pink-color: #d7a7a7;
$gallery-background: linear-gradient(225deg, rgba(54, 54, 54, 0.67) 0%, rgba(178, 60, 60, 0.67) 81.77%);
$catalog-background: linear-gradient(225deg, #867d75 39.09%, #d7a7a7 78.58%);
$contacts-background: linear-gradient(360deg, #3d3d3d 0%, #ffde88 44.27%);
$black-grey-color: #363636;
